body {
    text-align: left;
    margin: 10;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: cornsilk;
}
h1 {
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin-top: 50px;
    padding-bottom: 30px;
    color: rgb(36, 167, 187);
}
h2{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: black;
    font-weight: 400;
}
input {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
}
.tdItem {
    text-align: left;
    padding: 10px;
    cursor: default;
    border-radius: 7px;
    font-size: 16px;
}
.tdItem:hover{
    background-color: rgb(36, 167, 187);
}
.editorSheet {
    min-height: 65vw;
    border: solid; 
    border-width: 0px; 
    text-align: left;
    background-color: white;
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}
